---
layout: default
title: Publications
---





<div class="experince">


<h2>Publications</h2>

<ol reversed>

{% for pub in publications %}

<li>

<b>{{ pub.year }},</b> 
{{ pub.author_html | safe }}. 
{{pub.title}}, 



<i>{{ pub.journal }}</i>, 
{% if pub.volume %} 
{{ pub.volume }}
{% endif %}
, <a href="https://doi.org/{{ pub.doi }}">https://doi.org/{{ pub.doi }}</a>



</li>

{% endfor %}

</ol>

<br>

<h2>Reports</h2>

<ol reversed>

{% for rep in reports %}

<li>

<b>{{ rep.year }},</b> {{ rep.author_html | safe }}. {{rep.title}},
<a href="https://doi.org/{{ rep.doi }}">https://doi.org/{{ rep.doi }}</a> 

</li>

{% endfor %}

</ol>


<br>

<br>

<h2 >Conference</h2>

<ol reversed>

{% for conf in conference %}

<li>

<b>{{ conf.year }},</b> {{ conf.author_html | safe }}. {{conf.title}},
<i> {{ conf.booktitle }}</i>,

{% if conf.doi %} 
<a href="https://doi.org/{{ conf.doi }}">https://doi.org/{{ conf.doi }}</a>
{% endif %}


</li>

{% endfor %}

</ol>



</div>









